@media (min-width: 450px){
	.ui-field-contain .ui-controlgroup-controls {
	  width: 38%;
	  display: inline-block;
	}
  
	.ui-field-contain .ui-controlgroup-label {
	  vertical-align: top;
	  display: inline-block;
	  width: 60%;
	  margin: 0 2% 0 0;
	}
}
