.fs-header { 
    color: #eee;
    font-size: 20px;
    padding-bottom: 15px;
}
.fs-body { 
    color: #c0c0c0;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 50px;
    padding-top: 15px;
}
.fs-body-value { 
    color: #eee;
    font-size: 20px;
    float: right;
    margin-left: 50px;
    margin-right: 50px;
}
.fs-comment { 
    color: #eee;
    font-size: 16px;
    font-style: italic;
    margin-left: 0px;
    margin-right: 190px;
    padding-bottom: 0px;
}
.fs-footer { 
    color: #eee;
    font-size: 20px;
    padding-top: 30px;
}
.fs-footer-value { 
    color: #eee;
    font-size: 24px;
    float: right;
    margin-right: 100px;
}
