body{
    margin: 0;
    font-family: arial;
}
*::-webkit-scrollbar-track
{

    background-color: #444444;
}

*::-webkit-scrollbar
{
    width: 5px;
    background-color: #0099cc;
}

*::-webkit-scrollbar-thumb
{
    background-color: #0099cc;
}
object {
    pointer-events: none;
}
#page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333333;

    overflow: hidden;
}
#page_container {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;
}
#page_footer{
    display: none;
    position: absolute;
    bottom: 0;
    font-size: 80%;
}
#page_footer a{
    color: #222;
    text-decoration: none;
}
#page_footer a:hover{
    text-decoration: underline;
}
#print {
    background-color: #fff;
    color: #000;
    border: 2px solid #bbbbbb;
    padding: 8px 16px;
    font-size: 100%;
    font-weight: bold;
    line-height: 22px;
}
#print img{
    vertical-align: text-bottom;
}
#print:hover {
    background-color: #bbb;
    color: #fff;
    text-decoration: none !important;
}
#print:hover svg path {
    stroke: #fff;
}

#log_container {
    position: relative;
    flex: 1 1;
}
#log{
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;

    flex-grow: 1;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#input_wrap{
    position: relative;

    flex: auto 0;

    /* display: flex; */
    display: none;

    align-items: stretch;

    background-color: #444;

    padding: 4px;

    box-sizing: border-box;
}
#input_wrap_disable{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #fff;
}
#input_wrap input {
    flex-grow: 1;
    border: 2px solid rgba(0,0,0,0);
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
}
#input_wrap input:focus {
    outline: none !important;
    border: 2px solid #bbb !important;
    box-shadow: 0 0 0px #000000;
}

.log-line {
    display: flex;
    align-items: center;

    align-self: flex-start;

    margin: 10px 5px;

    overflow: hidden;
}
.log-line .log-txt {
    padding: 30px 36px 30px 30px;

    color: #000;
    background-color: #fff;
    opacity: 0.3;

    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);

    flex: 1 auto;

    position: relative;
}
.log-line.log-question:last-child .log-txt,
.log-line.log-last-question .log-txt {
    opacity: 1;
}
.log-line.log-message .log-txt{
}
.log-line .question-next {
    display: none;
}
.log-line.log-question:last-child .question-next,
.log-line.log-last-question .question-next {
    display: flex;
}
.log-line.log-error {
    align-self: center;
}
.log-line.log-error .log-txt {
    background-color: #947;
    opacity: 1;
}
.log-line.log-answer {
    flex-direction: row-reverse;
    align-self: flex-end;
}
.log-line.log-answer .log-txt {
    background-color: #333333;
}

.log-line.log-info {
    align-self: center;
}
.log-line.log-info .log-txt {
    background-color: #999999;
}
.log-line.log-info .log-txt b,
.log-line.log-end .log-txt b{
    color: #ff3333;
}

.log-end .log-txt {
    /*
    background-color: #aaa;
    color: #fff;
    */
    text-align: center;
    /*
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 45px;

    line-height: 50px;
    */
}

.log-line.log-answer .log-txt {
    flex: auto 0;
    background-color: #0099cc;
    width: auto;
    border-radius: 20px;
    padding: 10px 30px;
    align-self: flex-end;
}

.icon-answer{
    z-index: 1;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-left: 10px solid #333333; 
}
/*
.icon-confirm{
    display: none;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right: 10px solid #0099cc; 
}
*/
.icon-message{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right: 10px solid #999999; 
}
.icon-error{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right: 10px solid #ff3344; 
}

.question-title{
    font-size: 120%;
}

.value_wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}
.value_btn,
.next_btn,
.numeric_input,
.text_input,
.date_day,
.date_month,
.date_year,
.value_dropdown{
    padding: 10px;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    border: 2px solid #bbb;
}
.value_wrap.value_wrap_list .value_btn /* ,
.value_wrap.value_wrap_list .next_btn */ {
    display: inline-block;
}
.next_btn:hover,
.value_btn_selected{
    background-color: #bbb;
    color: #fff;
}

.next_btn {
    display: none; /* flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    margin-right: 0;
}
.next_btn svg path {
    stroke: #000
}

.next_btn:hover svg path {
    stroke: #fff;
}

.question-next-disabled{
    opacity: 0.2;
    pointer-events: none;
}

.numeric_input,
.text_input {
    -webkit-appearance: none;
    background-color: #666666;
    color: #eeeeee;
    font-size: 15px;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); */
    border-radius: 0;
    outline: none !important;
    border: none;
    border-bottom: 2px solid #555555;
}
.numeric_input:focus,
.text_input:focus,
.date_day:focus,
.date_month:focus,
.date_year:focus {
    border-bottom: 2px solid #0099cc;
}

.numeric_input,
.text_input{
    cursor: text;
}

.numeric_input{
    width: 150px;
}

.log-line.line-disabled .numeric_input,
.log-line.line-disabled .text_input,
.log-line.line-disabled .date_day,
.log-line.line-disabled .date_month,
.log-line.line-disabled .date_year {
    pointer-events: none;
}

.date_day,
.date_month,
.date_year,
.value_dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px;
    padding-right: 22px !important;

    font-size: 15px;
    
    background: #666666 url(images/arrow_light.svg) right center no-repeat;
    color: #eeeeee;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5); */
    /* border-radius: 5px; */
    outline: none !important;
    border: none;
    border-bottom: 2px solid #555555;
}

.value_wrap_disabled .value_btn,
.value_wrap_disabled .next_btn,
.value_wrap_disabled .numeric_input,
.value_wrap_disabled .text_input,
.value_wrap_disabled .date_day,
.value_wrap_disabled .date_month,
.value_wrap_disabled .date_year,
.value_wrap_disabled .value_dropdown {
    pointer-events: none;
}

.log-txt-button-container {
    display: none;
    justify-content: flex-end;

    margin: 10px 0 0 0;
    padding: 10px 0 0 0;

    border-top: 2px solid rgba(0,0,0,0.2);
}

.log-line.log-last-question .log-txt-button-container {
    position: relative;
    display: flex;
}

.question-menubtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1px 0 1px 10px;
}

.question-menuwrap {
    position: relative;
    /*top: 50%; bottom: 50%; */
    display: block;
}

.question-menucontainer {
    position: absolute;
    bottom: 0;
    right: 0;

    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.question-menuitem {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 120px;
    padding: 0 20px;

    background-color: #222222;
    border-bottom: 1px solid #111111;

    line-height: 30px;
}

.question-menuitem:hover {
    color: #222222;
    background-color: #ffffff;
}

.question-back,
.question-next {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 10px;
    padding: 0 20px;

    cursor: pointer;

    line-height: 30px;
    border-radius: 15px;

    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}
.question-back{
    display: none;
}
.question-back:hover,
.question-next:hover{
    background-color: #222222;
    color: #ffffff;
}
.log-last-question .question-back{
    display: flex;
}



.speaker,
.microphone,
.recording {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 10px;

    border-radius: 50%;
    background-color: #333333;

    width: 30px;
    height: 30px;

    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}
.microphone_circle {
    width: 15px;
    height: 15px;

    background-color: #ff0033;

    border-radius: 50%;
}
.listening .microphone {
    display: none;
}
.recording {
    position: relative;

    display: none;
    background-color: #ff0033;

    animation: recording_animate 3s infinite;
}
.listening .recording {
    display: flex;
    pointer-events: none;
}

@keyframes recording_animate {
    0%, 100% {
        background-color: #ff0033;
    }
    50% {
        background-color: #333333;
    }
}

.recording_circle_back_container {
    position: absolute;
    top: 50%; right: 50%; bottom: 50%; left: 50%;

    width: 0;
    height: 0
}
.recording_circle_back {
    position: absolute;
    top: -100px; right: -100px;

    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;

    width: 200px;
    height: 200px;

    animation: recording_circle_back_animate 1.5s ease-in infinite;
}

@keyframes recording_circle_back_animate {
    0%, 100% {
        top: -100px; right: -100px;
        background-color: rgba(255,255,255,0.1);
        width: 200px;
        height: 200px;
    }
    50% {
        top: -40px; right: -40px;
        background-color: rgba(255,255,255,0.5);
        width: 80px;
        height: 80px;
    }
}

.recording .recording_circle {
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;

    width: 30px;
    height: 30px;

    animation: recording_circle_animate 2s ease-in infinite;
}

@keyframes recording_circle_animate {
    0%, 100% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 10px;
        height: 10px;
    }
}

/* START : dark theme (now the default) */
.more-button{
    display: inline-block; 
    padding: 5px 10px; 
    margin-left: 8px; 
    cursor: pointer; 
    color: #fff; 
    border: 2px solid #555555; 
    font-size: 17px;
}
.more-button:hover{
    border: 2px solid #fff;
}
.log-line.line-disabled .more-button{
    pointer-events: none;
}
.more-content{
    display: none;
    font-size: 80%;
    border: 1px solid #555555;
    border-left: 0;
    border-right: 0;
    margin-top: 8px;
    padding: 4px;
}
  
.log-line .log-txt {background-color: #444; color: #eee;}

.question-title{font-size: 20px;}

.next_btn{color: #fff; border: 2px solid #888; background-color: #888;}
.next_btn svg path {stroke: #fff;}
.next_btn:hover{border: 2px solid #fff; background-color: #888;}
  
.question-back {
    color: #fff; 
    border: 2px solid #333333; 
    background-color:#333333;
}

.question-back:hover {
    border: 2px solid #222222; 
    background-color: #222222;
}
.log-first-input .question-back {
    display: none;
}

.question-next {
    color: #fff; 
    border: 2px solid #0099cc; 
    background-color:#0099cc;
}
.question-next:hover {
    border: 2px solid #0088bb; 
    background-color:#0088bb;
}

.value_btn {
    color: #fff; 
    border: none;
    border-bottom: 4px solid #555555; 
    background-color:#666666;
}
.value_btn:hover {
    opacity: 0.75;
}

.value_btn_selected{
    background-color: #09c; 
    color: #fff; 
    border-color: #0077aa;
}

.value_btn_default{border-color: #09c;}

.upload-btn{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 0 20px;
    cursor: pointer;
    line-height: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    color: #fff;
    border: 2px solid #0099cc;
    background-color: #0099cc;
}
.upload-btn:hover{
    border: 2px solid #0088bb;
    background-color: #0088bb;
}
.upload-input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.upload-progress{
    display: none;
    width: 100px;
}
.upload-progress-bar{
    height: 18px;
    background-color: #080;
    width: 0%;
}
.upload-preview{
    display: none;
    height: 34px;
    width: 34px;
    margin-left: 16px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    font-weight: bold;
}
.hero-descr{
    font-size: 80%;
}
.hero-img{
}
.hero-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  line-height: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  
  color: #fff;
  border: 2px solid #0099cc;
  background-color: #0099cc;
}
.hero-btn button:hover{
  border: 2px solid #0088bb;
  background-color: #0088bb;
}

/* END : dark theme (now the default) */

@media screen and (min-width: 1024px) {
    #page_container {
        flex: 0 0 1024px;
        max-width: 1024px;
        height: 90%;
    }

    #page_footer {
        display: flex;
        left: 64px;
        right: 64px;
    }

    .text_input{
        width: 450px;
    }

    .value_wrap{
        flex-wrap: wrap;
    }

    .value_wrap.value_wrap_list{
        white-space: normal;
    }

    #log{
        padding: 10px;
    }

    .log-line {
        margin-left: 10px;
        margin-right: 10px;
    }
} 

@media screen and (max-width: 640px) {
    .user-icon-question,
    .user-icon-confirm {
        width: 60px;
        height: 60px;

        background-size: 60px 60px;
    }

    .user-icon-answer {
        width: 60px;
        height: 60px;

        background-size: 60px 60px;
    }
}
