/* turn off page shadow when in browser */
#xruipage.jqmwide {
	background-image: none;
	border-left: 0;
	border-right: 0;
	box-shadow: 0px 0px 8px 8px #ccc;
}

/* match font size for stand-along to in-editor */
#xruipage{
  font-size: 14px;
}

/* turn off text shadow for label controls in both design time & run time */
#xrkb_dlg_xrui .xrui-label,
#xrui .xrui-label{
	text-shadow: none;
}

/* turn off label seperators */
.ui-br{
	border-bottom: 0 !important;
}

/* a links (in editor) */
#xrkb_dlg_xrui a:hover,
#xrui a:hover{
	font-weight: bold;
	text-decoration: underline;
}

/* header background */
#mobheader{
	background-color: #f4f4f6;
	background-image: none;
	border: 0;
	padding: 8px;
	border-bottom: 4px solid #e9e9eb;
}

/* Some styles for label markup n.b. you can add custom classes here too */
#xrkb_dlg_xrui h1,
#xrui h1{
	margin: 10px 0;
	color: rgb(73, 173, 51);
}
#xrkb_dlg_xrui h2,
#xrui h2{
	margin: 4px 0;
}

/* widget styling */

/* label at left of input */
.ui-controlgroup-label {
	font-size: 18px;
	font-weight: bold;
}

/* final audit (conclusion) report */
.rick-audit{
	margin: 0 16px;
	background-color: #C3D6E5;
	padding: 8px;
	border: 2px solid #08355C;
}

/* browser label-input layout */
@media (min-width: 450px){
	.ui-field-contain .ui-controlgroup-label {
		width: 30%;
	}
	.ui-field-contain .ui-controlgroup-controls {
		width: 68%;
	}
}

/* mobile layout */
@media only screen and (max-width: 450px){
	/* make images smaller */
	.xrui-image img{
		height: 100px;
	}
	#xrui h1{
		font-size: 1.6em;
		margin: 4px 0;
	}
	#xrui h2{
		font-size: 1.2em;
		margin: 2px 0;
	}
    .not_reqd{
		display: none;
    }
}

/* =========================== JQM Theme =============================

   How to add custom JQM theme...

   Create and download your theme here...
   http://themeroller.jquerymobile.com/?ver=1.2.1

   Open the zip file and view the (uncompressed) css
   Copy-paste everything between the top and the   Structure   comment below here

   Use the swatch letters that you created in the theme roller

   =================================================================== */


/*
* jQuery Mobile Framework Git Build: SHA1: 27e3c18acfebab2d47ee7ed37bd50fc4942c8838 <> Date: Fri Mar 22 08:50:04 2013 -0600
* http://themeroller.jquerymobile.com/?ver=1.2.1&style_id=20150114-2
*
* Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #e6e6e6 /*{a-bar-border}*/;
	background: #e6e6e6 /*{a-bar-background-color}*/;
	color: #000000 /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 1px /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fdfdfd /*{a-bar-background-start}*/), to( #cfcfcf /*{a-bar-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #fdfdfd /*{a-bar-background-start}*/, #cfcfcf /*{a-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #fdfdfd /*{a-bar-background-start}*/, #cfcfcf /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fdfdfd /*{a-bar-background-start}*/, #cfcfcf /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fdfdfd /*{a-bar-background-start}*/, #cfcfcf /*{a-bar-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #fdfdfd /*{a-bar-background-start}*/, #cfcfcf /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #000000 /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #8c8c8c /*{a-body-border}*/;
	color: #08355C /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #eeeeee /*{a-body-shadow-color}*/;
	background: #ffffff /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-body-background-start}*/), to( #ffffff /*{a-body-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #FFFFFF /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #08355C /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #2489ce /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489ce /*{a-body-link-visited}*/;
}

.ui-body-a .ui-link:hover {
	color: #2489ce /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color: #2489ce /*{a-body-link-active}*/;
}

.ui-btn-up-a {
	border: 1px solid #08355c /*{a-bup-border}*/;
	background: #08355c /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #444444 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #083a65 /*{a-bup-background-start}*/), to( #072f52 /*{a-bup-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #083a65 /*{a-bup-background-start}*/, #072f52 /*{a-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #083a65 /*{a-bup-background-start}*/, #072f52 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #083a65 /*{a-bup-background-start}*/, #072f52 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #083a65 /*{a-bup-background-start}*/, #072f52 /*{a-bup-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #083a65 /*{a-bup-background-start}*/, #072f52 /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #ffffff /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #093c69 /*{a-bhover-border}*/;
	background: #093c69 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #444444 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #094273 /*{a-bhover-background-start}*/), to( #08365e /*{a-bhover-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #094273 /*{a-bhover-background-start}*/, #08365e /*{a-bhover-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #094273 /*{a-bhover-background-start}*/, #08365e /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #094273 /*{a-bhover-background-start}*/, #08365e /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #094273 /*{a-bhover-background-start}*/, #08365e /*{a-bhover-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #094273 /*{a-bhover-background-start}*/, #08365e /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #ffffff /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #093c69 /*{a-bdown-border}*/;
	background: #093c69 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #444444 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #08365e /*{a-bdown-background-start}*/), to( #094273 /*{a-bdown-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #08365e /*{a-bdown-background-start}*/, #094273 /*{a-bdown-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #08365e /*{a-bdown-background-start}*/, #094273 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #08365e /*{a-bdown-background-start}*/, #094273 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #08365e /*{a-bdown-background-start}*/, #094273 /*{a-bdown-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #08365e /*{a-bdown-background-start}*/, #094273 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #ffffff /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	     font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
a .ui-btn-text{color: #fff;}